<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite name="Suit">

    <test name="Linkedin">
        <classes>
            <class name="LinkedinLoginTest">
            <methods>
                <exclude name="negativeLoginTest" />
                <exclude name="successfulLoginTest" />
                <exclude name="negativeEmailLoginTest" />
                <exclude name="negativePswLoginTest" />
                <include name="negativeEmptyLoginTest"/>
            </methods>
            </class>
        </classes>
    </test>


</suite>